<template>
  <div class="crypto">
    <div class="img">
      <img :src="image" alt="">
    </div>
    <div class="details">
      <div class="name">
        <h3 class="coin-name">{{name}}</h3>
        <p class="coin-acronym">BTC</p>
      </div>
      <div class="price">
        <span class="amount">{{formatPrice}}</span>
        <span class="metrics"><i class='bx bx-plus' ></i>20%</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Crypto",
  props:{
    name: String,
    price: Number,
    image:{
      type: String,
    },
  },
  computed:{
    formatPrice(){
      return this.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  }
}
</script>

<style lang="scss" scoped>
.crypto{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  

  .img{
    position: relative;
    margin-right: 5px;

    img{
      width: 30px;
      height: 30px;
    }
  }
  .details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name{
      display: flex;
      flex-direction: column;

      .coin-acronym{
        font-size: .8rem
      }
    }
    .price{
      display: flex;
      flex-direction: column;

      span{
        display: block;
      }
    }
  }
  
}
</style>