<template>
  <div class="personal" @click.self="closeModal">
    <div class="personal-form">
      <span class="close" @click="closeModal"><i class="bx bx-x"></i></span>
      <form>
        <h1>Personalize your experience</h1>
        <div class="input-box">
          <label for="name">What's your name?</label>
          <input type="text" id="name" />
        </div>
        <div class="input-box">
          <label for="occupation">What do you do for a living?</label>
          <input type="text" id="occupation" />
        </div>
        <div class="input-box grouped">
          <label>What is your gender?</label>
          <div class="option">
            <input type="radio" name="gender" value="male" id="male" hidden />
            <!-- <label for="male">Male</label> -->
            <label for="male">male</label>
          </div>
          <div class="option">
            <input
              type="radio"
              name="gender"
              value="female"
              id="female"
              hidden
            />
            <label for="female">female</label>
          </div>
        </div>
        <div class="input-box grouped">
          <label>Profile picture</label>
          <label class="option">
            <input
              type="radio"
              name="pic"
              value="Initials"
              id="initials"
              hidden
            />
            <label for="initials">Initials</label>
          </label>
          <div class="option">
            <input
              type="radio"
              name="pic"
              value="avataaars"
              id="avataaars"
              hidden
            />
            <label for="avataaars">avatar</label>
          </div>
        </div>
        <button @click.prevent="Personalize" type="submit">Get Started</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "PersonalModal",
  methods:{
    closeModal(){
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
.personal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: $black, $alpha: 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
  // text-align: left;

  @include mobile {
    align-items: flex-end;
  }
  @include tablet{
    align-items: center;
  }

  &-form {
    position: relative;
    width: 40%;
    background-color: $white;
    padding: 30px;
    border-radius: 10px;
    animation: appear .5s ease;

    @include mobile {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
    @include tablet {
      width: 70%;
    }
    @include laptop {
      width: 50%;
    }

    h1 {
      color: $darker-blue;
      font-size: 1.7rem;
      margin-bottom: 20px;
      text-align: center;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    .close {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: $white;
      color: $darker-blue;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -50px;
      right: 0;
      cursor: pointer;

      i {
        font-size: 1.7rem;
      }
    }

    .input-box {
      position: relative;
      width: 100%;
      display: block;
      margin-bottom: 20px;

      label {
        font-size: 0.85rem;
        color: $darker-blue;
        display: block;
        text-align: left;
        padding: 5px 0;
        font-weight: 600;
      }
      input[type="text"] {
        display: block;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #aaa;
        outline: none;
        padding: 0 10px;
        transition: 0.2s ease;

        &:focus {
          border: 1px solid $darker-blue;
        }
      }

      .option {
        display: inline-flex;
        align-items: center;
        width: max-content;
        // border: 1px solid red;
        margin-right: 15px;

        input {
          display: none;
        }

        input[type="radio"]:checked + label {
          outline: 1px solid $darker-blue;
        }
        label {
          outline: 1px solid #aaa;
          padding: 10px 15px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }

    button {
      width: 100%;
      padding: 15px 0;
      background: $darker-blue;
      color: $white;
      outline: none;
      border: none;
      border-radius: 10px;
      transition: 0.25s ease;
      cursor: pointer;

      &:hover {
        background: darken($color: $darker-blue, $amount: 5%);
      }
    }
  }
}


@keyframes appear {
  from{
    opacity: 0;
    transform: translateY(-50px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
</style>