<template>
  <div class="sidebar">
    <div class="brand-logo">
      <h1>Spendwizely</h1>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#"><i class="uil uil-estate"></i>Dashboard</a>
        </li>
        <li>
          <a href="#"><i class="uil uil-suitcase"></i> Services</a>
        </li>
        <li>
          <a href="#"><i class="bx bx-store"></i> Clients</a>
        </li>
        <li>
          <a href="#"><i class="uil uil-comment-alt"></i> Messages</a>
        </li>
        <li>
          <a href="#"><i class="uil uil-setting"></i> Settings</a>
        </li>
      </ul>
    </nav>

    <a href="#" class="cta"><i class="uil uil-sign-out-alt"></i> Logout</a>
  </div>
</template>

<script>
export default {
  name: "SideBar",
};
</script>

<style lang="scss" scoped>
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  // width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 0;
  align-items: stretch;
  background-color: $darker-blue;
  padding: 0;

  @include mobile {
    width: 100%;
    position: relative;
    align-items: center;
    flex-direction: row;
    height: 100%;
  }

  .brand-logo {
    @include mobile {
      padding: 20px;
    }

    h1 {
      text-align: center;
      padding: 10px 20px;
      font-size: 1.7rem;
      color: $white;

      @include mobile {
        font-size: 1.5rem;
        padding: 0;
      }
    }
  }

  nav {
    margin: 5px 0 auto 0;

    @include mobile {
      display: none;
      order: 3;
    }

    ul {
      list-style: none;
      width: 100%;

      li {
        width: 100%;
        padding: 15px;
        // background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0;
        padding-left: 20px;

        &:hover {
          background-color: $darker-blue;

          i {
            color: $white;
          }
          a {
            color: $white;
          }
        }

        i {
          margin-right: 10px;
          vertical-align: top;
          color: #6b6b6b;
        }

        a {
          color: #6b6b6b;
          display: inline;
          text-decoration: none;
          font-weight: 500;
          vertical-align: baseline;
        }
      }
    }
  }

  .cta {
    align-self: center;
    // border: 1px solid red;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px 0;
    text-decoration: none;
    border-radius: 10px;
    background: $dark-blue;
    color: $white;
    transition: 0.25s ease;

    @include mobile {
      display: none;
    }

    &:hover {
      background: darken($color: $dark-blue, $amount: 5%);
    }

    i {
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
</style>