<template>
  <div class="stats-card">
    <p class="title">{{ name }}</p>
    <h2 class="amount">&#x20A6; {{ formatAmount }}</h2>
  </div>
</template>

<script>
export default {
  name: "StatsCard",
  props: {
    amount: {
      type: Number,
      default: "0.00",
    },
    name: String,
  },
  computed:{
    formatAmount(){
      return this.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  }
};
</script>

<style lang="scss" scoped>
.stats-card {
  position: relative;
  background-color: $white;
  border-radius: 7px;
  padding: 15px;
  overflow: hidden;
  z-index: 2;

  &::after {
      content: "";
      position: absolute;
      right: -18px;
      bottom: -18px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: red;
      z-index: 1;
    }

  &:nth-child(1) {
    &::after {
      background: $light-blue;
    }
  }
  &:nth-child(2) {
    &::after {
      background: $light-blue;
    }
  }

  &:nth-child(3) {
    &::after {
      background: $light-blue;
    }
  }
  &:nth-child(4) {
    &::after {
      background: $light-blue;
    }
  }

  .title {
    font-weight: 400;
    font-size: 0.9rem;
    color: lighten($color: $darker-blue, $amount: 30%);
    margin-bottom: 7px;
  }
  .amount {
    position: relative;
    font-size: 2rem;
    color: $darker-blue;
    z-index: 5;
  }
}
</style>