<template>
  <div class="top-menu">
    <div class="greeting">
      <h1>Good morning <i :class="'bx' + [time === 'morning'  ? ' bxs-sun' : ' bxs-moon']"></i></h1>
    </div>
    <div class="menu">
      <div class="user-details">
        <img src="@/assets/logo.png" alt="" />
        <div class="user">
          <h4>{{ name }}</h4>
          <p>{{ occupation }}</p>
        </div>
      </div>
      <i class="bx bx-chevron-down"></i>

      <div class="drop-down">
        <button @click="openPersonalize"><i class="bx bxs-pencil"></i> Personalize</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TopMenu",
  props: {
    name: String,
    occupation: String,
    time:String,
  },
  methods: {
    openPersonalize() {
      this.$emit("open");
    },
  },
};
</script>

<style lang="scss" scoped>
.top-menu {
  width: 100%;
  // background-color: $white;
  padding: 10px 25px 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .greeting {
    h1 {
      font-size: 1.6rem;
      color: set-text-color($white);
      font-weight: 700;
      display: inline-flex;
      align-items: center;

      i{
        vertical-align: middle;
        margin-left: 10px;
        
        &.bxs-sun{
          color: rgb(255, 217, 0);
        }

        &.bxs-moon{
          color: $darker-blue;
        }
      }
    }
  }
  .menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: .25s ease;
    background-color: $white;
    border-radius: 7px;

    &:hover{
      background-color: $white;
    }

    &:hover > .drop-down {
      display: block;
      animation: slideup 0.25 ease;
    }

    .user-details {
      display: flex;
      align-items: center;
      margin-right: 10px;
      // background-color: #aaa;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $darker-blue;
        margin-right: 7px;
      }
      .user{
        display: inline-block;

        h4{
          color: $darker-blue;
        }
        p{
          font-size: .8rem;
        }
      }
    }
    .drop-down {
      display: none;
      position: absolute;
      width: 100%;
      bottom: -90%;
      border: 1px solid $white;
      padding: 10px;
      right: 0;
      background-color: $darker-blue;
      border-radius: 5px;
      z-index: 10;
      

      button {
        width: 100%;
        padding: 5px;
        outline: none;
        border: none;
        background: transparent;
        color: $white;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: $dark-blue;
        }
        i{
          font-size: 1.2rem;
          margin-right: 5px;
        }
      }
    }
  }
}

@keyframes slideup {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
</style>