<template>
  <div class="transaction-details">
    <table>
      <tr>
        <th>Name</th>
        <th>type</th>
        <th>date</th>
        <th>amount(&#x20a6;)</th>
      </tr>
      <tr v-for="n in 9" :key="n">
        <td class="name">food at iya sekira</td>
        <td class="type" :class="transactionClass">spending</td>
        <td class="date">10/10/2020</td>
        <td class="amount">{{formatNumber}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: "TransactionDetails",
  props:{
    transType: String,
    amount: Number
  },
  computed:{
    formatNumber(){
      return this.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    transactionClass(){
      if(this.transType === 'savings'){
        return "savings";
      }else if(this.transType === 'investment'){
        return "investment"
      }else{
        return 'spending';
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .transaction-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    background-color: $white;
    border-radius: 10px;
    padding: 5px;

    table{
      width: 100%;
      text-align: left;

      th{
        color: #656565;
        text-transform: capitalize;
        font-weight: 500;
        font-size: .8rem;
        padding: 10px;
      }
      tr{
        padding: 10px;
      }
      td{
        font-weight: 600;
        font-size: .88rem;
        text-transform: capitalize;
        padding: 7px 10px;
        

        &.type{
          display: inline-block;
          padding: 5px 10px;
          border-radius: 50px;
          font-size: .75rem;

          &.savings{
            background-color: $color-success;
            color: set-text-color($color-success);
          }
          &.investment{
            background-color: $darker-blue;
            color: set-text-color($darker-blue);
          }
          &.spending{
            background-color: $color-error;
            color: set-text-color($color-error);
          }
        }
      }
    }
  }
</style>