<template>
<!-- The personalize modal -->
  <!-- <teleport to="body" class="toggle-personal-modal" v-if="showPersonalModal">
    <PersonalModal @close="closeModal" />
  </teleport> -->
  <!-- The main content of the page -->
  <main>
    <SideBar />
    <div class="wrapper">
      <TopMenu :name="userName" :time="timeOfDay" :occupation="occupation" @open="showModal"/>

      <div class="stats-wrapper">
        <StatsCard :amount="500000" v-for="(account, index) in accountType" :key="index"  :name="account"/>
      </div>

      <div class="container">
        <div class="transactions">
          <header class="transactions-header">
            <h3>Transactions</h3>
            <p>view all</p>
          </header>
          <div class="transactions-wrapper">
            <TransactionDetails :amount="4000" transType="investment"/>
          </div>
        </div>
        <div class="crypto">
          <Crypto v-for="(coin, index) in coinInfo" :name="coin.name" :price="coin.price" :image="coin.image" :key="index"/>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import PersonalModal from "./components/PersonalModal.vue";
import Crypto from "./components/Crypto.vue";
import SideBar from "./components/SideBar.vue";
import TopMenu from "./components/TopMenu.vue";
import StatsCard from "./components/StatsCard.vue";
import TransactionDetails from "./components/TransactionDetails.vue";

export default {
  name: "App",
  components: {
    PersonalModal,
    Crypto,
    SideBar,
    TopMenu,
    StatsCard,
    TransactionDetails,
  },
  data() {
    return {
      showPersonalModal: false,
      coinName: "Ether",
      occupation: "Frontend developer",
      userName: "John Doe",
      accountType:["Budget", "Spending", "Savings", "Investments"],
      timeOfDay: null,
      apiKey: 'b87a42c7-48e7-457f-8ec8-fe76d7b53e2d',
      coinImages:['assets/logo.png', '/assets/img/ethereum.svg', '/assets/img/bnb.svg'],
      coinInfo: [
        {
          name: "Bitcoin",
          price: 63125,
          image: '/img/bitcoin.svg'
        },
        {
          name: "Ethereum",
          price: 63125,
          image: '/img/ethereum.svg'
        },
        {
          name: "BNB",
          price: 63125,
          image: './img/bnb.svg'
        },
      ]
    };
  },
  methods: {
    showModal() {
      this.showPersonalModal = true;
    },
    closeModal() {
      this.showPersonalModal = false;
    },
  },
  mounted() {
    setTimeout(() => {
      this.showModal();
    }, 2000);
  },
};
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Poppins", sans-serif;
}
::selection{
  background-color: $darker-blue;
  color: $white;
}
body {
  background-color: #eee;
  overflow-x: hidden;
}
main {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 18% minmax(0, 82%);
  column-gap: 20px;
  height: 100%;
  align-items: stretch;

  .wrapper {
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
    margin-bottom: 10px;
  }

  .stats-wrapper{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 15px;
    margin: 20px 0;
    border-radius: 10px;
    padding: 0 25px 0 0;
  }
  .container{
    margin-top: 40px;
    position: relative;
    display: grid;
    grid-template-columns: 70% minmax(0, 28%);
    gap: 2%;
    padding-right: 25px;

    .transactions{
      // border: 1px solid red;

      &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3{
          font-weight: 600;
        }
        p{
          color: #333;
          font-size: .85rem;
          cursor: pointer;

          &:hover{ 
            text-decoration: underline;
          }
        }
      }
      
    }

    .crypto{
      background: $white;
      border-radius: 10px;
      padding: 10px;
    }
  }
}
</style>
