// Media quaries 

@mixin mobile {
  @media screen and (max-width: 480px){
    @content;
  }
}

@mixin tablet{
  @media screen and (min-width: 481px) and (max-width: 768px){
    @content;
  }
}
@mixin laptop{
  @media screen and (min-width: 769px) and (max-width: 1024px){
    @content;
  }
}
@mixin desktop{
  @media screen and (min-width: 1025px) and (max-width: 1200px){
    @content;
  }
}

