// Color pallete
$black: #000000;
$darker-blue: #0a1931;
$dark-blue: #185adb;
$light-blue: #96d3ff;
$yellow: #ffc947;
$white: #ffffff;


// Help color
$color-info: #2083f8;
$color-warning: #f5de0d;
$color-success: #19d95e;
$color-error: #e81a30;
